@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.container2 {
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container2 svg {
  max-width: 81rem;
  width: 100%;
  height: auto;
  fill: none;
  stroke: white;
  stroke-width: 4;
}
.container2 svg tspan > tspan {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}

.container2 svg tspan > tspan:nth-of-type(0) { 
	animation: draw 300ms 300ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(1) { 
	animation: draw 300ms 450ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(2) { 
	animation: draw 300ms 600ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(3) { 
	animation: draw 300ms 750ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(4) { 
	animation: draw 300ms 900ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(5) { 
	animation: draw 300ms 1050ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(6) { 
	animation: draw 300ms 1200ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(7) { 
	animation: draw 300ms 1350ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(8) { 
	animation: draw 300ms 1500ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(9) { 
	animation: draw 300ms 1650ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(10) { 
	animation: draw 300ms 1800ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(11) { 
	animation: draw 300ms 1950ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(12) {
	animation: draw 300ms 2040ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(13) {
	animation: draw 300ms 2130ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(14) {
	animation: draw 300ms 2220ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(15) {
	animation: draw 300ms 2310ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(16) {
	animation: draw 300ms 2400ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(17) {
	animation: draw 300ms 2490ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(18) {
	animation: draw 300ms 2580ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(19) {
	animation: draw 300ms 2670ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(20) {
	animation: draw 300ms 2760ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(21) {
	animation: draw 300ms 2850ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(22) {
	animation: draw 300ms 2940ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(23) {
	animation: draw 300ms 3030ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(24) {
	animation: draw 300ms 3120ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(25) {
	animation: draw 300ms 3210ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(26) {
	animation: draw 300ms 3300ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(27) {
	animation: draw 300ms 3390ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(28) {
	animation: draw 300ms 3480ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(29) {
	animation: draw 300ms 3570ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(30) {
	animation: draw 300ms 3660ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(31) {
	animation: draw 300ms 3750ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(32) {
	animation: draw 300ms 3840ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(33) {
	animation: draw 300ms 3930ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(34) {
	animation: draw 300ms 4020ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(35) {
	animation: draw 300ms 4110ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(36) {
	animation: draw 300ms 4200ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(37) {
	animation: draw 300ms 4290ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(38) {
	animation: draw 300ms 4380ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(39) {
	animation: draw 300ms 4470ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(40) {
	animation: draw 300ms 4560ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(41) {
	animation: draw 300ms 4650ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(42) {
	animation: draw 300ms 4740ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(43) {
	animation: draw 300ms 4830ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(44) {
	animation: draw 300ms 4920ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(45) {
	animation: draw 300ms 5010ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(46) {
	animation: draw 300ms 5100ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(47) {
	animation: draw 300ms 5190ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(48) {
	animation: draw 300ms 5280ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(49) {
	animation: draw 300ms 5370ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(50) {
	animation: draw 300ms 5460ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(51) {
	animation: draw 300ms 5550ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(52) {
	animation: draw 300ms 5640ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(53) {
	animation: draw 300ms 5730ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(54) {
	animation: draw 300ms 5820ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(55) {
	animation: draw 300ms 5910ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(56) {
	animation: draw 300ms 6000ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(57) {
	animation: draw 300ms 6090ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(58) {
	animation: draw 300ms 6180ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(59) {
	animation: draw 300ms 6270ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(60) {
	animation: draw 300ms 6360ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(61) {
	animation: draw 300ms 6450ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(62) {
	animation: draw 300ms 6540ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(63) {
	animation: draw 300ms 6630ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(64) {
	animation: draw 300ms 6720ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(65) {
	animation: draw 300ms 6810ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(66) {
	animation: draw 300ms 6900ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(67) {
	animation: draw 300ms 6990ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(68) {
	animation: draw 300ms 7080ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(69) {
	animation: draw 300ms 7170ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(70) {
	animation: draw 300ms 7260ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(71) {
	animation: draw 300ms 7350ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(72) {
	animation: draw 300ms 7440ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(73) {
	animation: draw 300ms 7530ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(74) {
	animation: draw 300ms 7620ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(75) {
	animation: draw 300ms 7710ms forwards;
}
.container2 svg tspan > tspan:nth-of-type(76) {
	animation: draw 300ms 7800ms forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  box-align: right;
}

.dropdown-content {
  display: none;
  left : 12rem; 
  top : 1.2rem;
  position: absolute;
  background-color: rgba(91, 103, 110, 0.24);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  color: whitesmoke;
  font-size: 32;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  font-size: 32;
}

.centered {
  text-align: left ;
  font-family: 'Nanum Pen Script', cursive;
}

.dropbtn {
  font-family: 'Nanum Pen Script', cursive;
  background-color: #232323;
  color: whitesmoke;
  padding: 16px;
  font-size: 32;
  border-radius: 10px ;
  border-style: none ;
  width: 100%;
}
.dropdown-content a:hover {background-color: rgba(49, 43, 43, 0.459);}
    
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #232323;}

.rightMenu {
    width: 15%;
    height: auto;
}
